body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  color: #f5f5f5;
  line-height: 1.6; 
  background-image: url(1920-x-1080-gaming-cyberpunk-city.jpg); 
  background-size: cover;
} 
header h1 {
 font-size: 48px;
    margin-bottom: 20px;
    color: #96A7CC;
    margin: 0; 
    text-align: center; 
    font-family: 'Press Start 2P', cursive;  
} 
nav {
   display: flex;
   justify-content: center;
   font-weight: bolder; 
   gap: 2rem; 
  text-decoration: none; 
    font-size: 24px;
    border-radius: 6px; 
    transition: 0,3s ease;
    color: #b7d6ff;
    top: 0;
}  
main h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

main p { 
  color: #8a8a8a;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;  
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  font-weight: 600;
} 
main h3 { 
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px; 
}
footer {
  text-align: center;
  padding: 20px;
  margin-top: 50px; 
  color: #8a8a8a;
  font-size: 15px; 
  letter-spacing: 1px; 
  font-weight: 500; 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px; 
}

