body { 
    margin: 0;
    background-image: url(wallhaven_fondo.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Arimo", sans-serif; 
} 

header {
    width: 100%;
    border-bottom: 2px solid;
    text-align: center;        
    padding: 30px 0;    
}
header h1 { 
    font-size: 48px;
    margin-bottom: 20px;
    color: #96A7CC;
    margin: 0; 
    text-align: center;
     font-family: 'Press Start 2P', cursive;      
} 
nav { 
    display: flex;
    justify-content: center;
    gap: 2rem; 
    width: 90%;
    margin-top: 15px;
} 
nav a {  
    transition: transform 0.2s ease;
    font-weight: bolder;
    text-decoration: none; 
    font-size: 20px;
    border-radius: 6px; 
    transition: 0,3s ease;
    color: #2563eb 
} 
nav a:hover { 
    padding-top: 2.5px;
}