header h1 { font-size: 48px;
    margin-bottom: 20px;
    color: #96A7CC;
    margin: 0; 
    text-align: center;
    font-family: 'Press Start 2P', cursive;  
} 
nav {  
   display: flex;
   justify-content: center;
   font-weight: bolder; 
   gap: 2rem; 
    text-decoration: none; 
    font-size: 20px;
    border-radius: 6px; 
    transition: 0,3s ease;
    color: #b7d6ff;
    top: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: #0a0a0a;  
  color: #e6e6e6;            
}


#esperados {
  width: 90%;
  max-width: 900px;
  margin: 80px auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.1);
}


#esperados h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: #00ffff;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
}

#esperados article {
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 4px solid #00ffff;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  transition: 0.3s ease;
}


#esperados article:hover {
  background-color: rgba(0, 255, 255, 0.1);
  transform: translateY(-3px);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
}


#esperados h3 {
  color: #96a7cc;
  font-size: 22px;
  margin-bottom: 10px;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 1px;
}


#esperados p {
  color: #d0d0d0;
  font-size: 17px;
  margin: 0;
  text-align: justify;
}