header h1 { font-size: 48px;
    margin-bottom: 20px;
    color: #96A7CC;
    margin: 0; 
    text-align: center;
    font-family: 'Press Start 2P', cursive;  
} 
nav {  
   display: flex;
   justify-content: center;
   font-weight: bolder; 
   gap: 2rem; 
    text-decoration: none; 
    font-size: 20px;
    border-radius: 6px; 
    transition: 0,3s ease;
    color: #b7d6ff;
    top: 0;
}

article {
  border-left: 4px solid #00ffff;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.05);
}
h2 { 
  text-align: center;
}
body { 
  font-family: 'Noto Sans', sans-serif; 
  background-color: #D5E1FC;
}

article:hover {
  background-color: #f0f6ff;  
  border-color: #6a8dff; 
} 

img { 
  width: 210px; 
  height: 190px; 
  border-radius: 10px; 
}